:root {
	// LIGHT THEME 🌞

	--primary: rgb(153 35 0);
	--surface-tint: rgb(179 42 0);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(212 63 20);
	--on-primary-container: rgb(255 255 255);
	--secondary: rgb(155 68 45);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(255 158 133);
	--on-secondary-container: rgb(86 17 1);
	--tertiary: rgb(102 77 0);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(146 112 0);
	--on-tertiary-container: rgb(255 255 255);
	--error: rgb(186 26 26);
	--on-error: rgb(255 255 255);
	--error-container: rgb(255 218 214);
	--on-error-container: rgb(65 0 2);
	--background: rgb(255 248 246);
	--on-background: rgb(39 24 20);
	--surface: rgb(255 248 246);
	--on-surface: rgb(39 24 20);
	--surface-variant: rgb(255 219 210);
	--on-surface-variant: rgb(91 65 58);
	--outline: rgb(143 112 104);
	--outline-variant: rgb(227 190 181);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(61 44 40);
	--inverse-on-surface: rgb(255 237 233);
	--inverse-primary: rgb(255 180 161);
	--primary-fixed: rgb(255 219 210);
	--on-primary-fixed: rgb(60 8 0);
	--primary-fixed-dim: rgb(255 180 161);
	--on-primary-fixed-variant: rgb(137 30 0);
	--secondary-fixed: rgb(255 219 210);
	--on-secondary-fixed: rgb(60 8 0);
	--secondary-fixed-dim: rgb(255 180 161);
	--on-secondary-fixed-variant: rgb(124 45 24);
	--tertiary-fixed: rgb(255 223 152);
	--on-tertiary-fixed: rgb(37 26 0);
	--tertiary-fixed-dim: rgb(238 193 77);
	--on-tertiary-fixed-variant: rgb(90 67 0);
	--surface-dim: rgb(240 212 205);
	--surface-bright: rgb(255 248 246);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(255 241 237);
	--surface-container: rgb(255 233 228);
	--surface-container-high: rgb(255 226 219);
	--surface-container-highest: rgb(249 220 214);

	// DARK THEME 🌚

	@media (prefers-color-scheme: dark) {
		--primary: rgb(255 180 161);
		--surface-tint: rgb(255 180 161);
		--on-primary: rgb(97 19 0);
		--primary-container: rgb(212 63 20);
		--on-primary-container: rgb(255 255 255);
		--secondary: rgb(255 180 161);
		--on-secondary: rgb(94 23 4);
		--secondary-container: rgb(115 38 18);
		--on-secondary-container: rgb(255 201 187);
		--tertiary: rgb(238 193 77);
		--on-tertiary: rgb(62 46 0);
		--tertiary-container: rgb(146 112 0);
		--on-tertiary-container: rgb(255 255 255);
		--error: rgb(255 180 171);
		--on-error: rgb(105 0 5);
		--error-container: rgb(147 0 10);
		--on-error-container: rgb(255 218 214);
		--background: rgb(30 16 12);
		--on-background: rgb(249 220 214);
		--surface: rgb(30 16 12);
		--on-surface: rgb(249 220 214);
		--surface-variant: rgb(91 65 58);
		--on-surface-variant: rgb(227 190 181);
		--outline: rgb(170 137 129);
		--outline-variant: rgb(91 65 58);
		--shadow: rgb(0 0 0);
		--scrim: rgb(0 0 0);
		--inverse-surface: rgb(249 220 214);
		--inverse-on-surface: rgb(61 44 40);
		--inverse-primary: rgb(179 42 0);
		--primary-fixed: rgb(255 219 210);
		--on-primary-fixed: rgb(60 8 0);
		--primary-fixed-dim: rgb(255 180 161);
		--on-primary-fixed-variant: rgb(137 30 0);
		--secondary-fixed: rgb(255 219 210);
		--on-secondary-fixed: rgb(60 8 0);
		--secondary-fixed-dim: rgb(255 180 161);
		--on-secondary-fixed-variant: rgb(124 45 24);
		--tertiary-fixed: rgb(255 223 152);
		--on-tertiary-fixed: rgb(37 26 0);
		--tertiary-fixed-dim: rgb(238 193 77);
		--on-tertiary-fixed-variant: rgb(90 67 0);
		--surface-dim: rgb(30 16 12);
		--surface-bright: rgb(71 53 49);
		--surface-container-lowest: rgb(24 11 8);
		--surface-container-low: rgb(39 24 20);
		--surface-container: rgb(43 28 24);
		--surface-container-high: rgb(54 38 34);
		--surface-container-highest: rgb(66 49 44);
	}
}
