.dark-medium-contrast {
	--md-sys-color-primary: rgb(255 186 169);
	--md-sys-color-surface-tint: rgb(255 180 161);
	--md-sys-color-on-primary: rgb(50 6 0);
	--md-sys-color-primary-container: rgb(251 90 47);
	--md-sys-color-on-primary-container: rgb(0 0 0);
	--md-sys-color-secondary: rgb(255 186 169);
	--md-sys-color-on-secondary: rgb(50 6 0);
	--md-sys-color-secondary-container: rgb(218 116 89);
	--md-sys-color-on-secondary-container: rgb(0 0 0);
	--md-sys-color-tertiary: rgb(243 197 81);
	--md-sys-color-on-tertiary: rgb(30 21 0);
	--md-sys-color-tertiary-container: rgb(179 139 24);
	--md-sys-color-on-tertiary-container: rgb(0 0 0);
	--md-sys-color-error: rgb(255 186 177);
	--md-sys-color-on-error: rgb(55 0 1);
	--md-sys-color-error-container: rgb(255 84 73);
	--md-sys-color-on-error-container: rgb(0 0 0);
	--md-sys-color-background: rgb(30 16 12);
	--md-sys-color-on-background: rgb(249 220 214);
	--md-sys-color-surface: rgb(30 16 12);
	--md-sys-color-on-surface: rgb(255 249 248);
	--md-sys-color-surface-variant: rgb(91 65 58);
	--md-sys-color-on-surface-variant: rgb(232 195 185);
	--md-sys-color-outline: rgb(190 155 147);
	--md-sys-color-outline-variant: rgb(156 124 116);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(249 220 214);
	--md-sys-color-inverse-on-surface: rgb(55 38 34);
	--md-sys-color-inverse-primary: rgb(139 31 0);
	--md-sys-color-primary-fixed: rgb(255 219 210);
	--md-sys-color-on-primary-fixed: rgb(41 4 0);
	--md-sys-color-primary-fixed-dim: rgb(255 180 161);
	--md-sys-color-on-primary-fixed-variant: rgb(107 22 0);
	--md-sys-color-secondary-fixed: rgb(255 219 210);
	--md-sys-color-on-secondary-fixed: rgb(41 4 0);
	--md-sys-color-secondary-fixed-dim: rgb(255 180 161);
	--md-sys-color-on-secondary-fixed-variant: rgb(102 29 9);
	--md-sys-color-tertiary-fixed: rgb(255 223 152);
	--md-sys-color-on-tertiary-fixed: rgb(24 16 0);
	--md-sys-color-tertiary-fixed-dim: rgb(238 193 77);
	--md-sys-color-on-tertiary-fixed-variant: rgb(69 52 0);
	--md-sys-color-surface-dim: rgb(30 16 12);
	--md-sys-color-surface-bright: rgb(71 53 49);
	--md-sys-color-surface-container-lowest: rgb(24 11 8);
	--md-sys-color-surface-container-low: rgb(39 24 20);
	--md-sys-color-surface-container: rgb(43 28 24);
	--md-sys-color-surface-container-high: rgb(54 38 34);
	--md-sys-color-surface-container-highest: rgb(66 49 44);
}
